<!doctype html>
<html lang="en">
  <head>
  	<title>DATOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/css/tabla-css/style.css">

	</head>
	<body>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row mb-4" >
							<div class="col-xs-6">
							</div>
							<div class="col-xs-1">
								<a href="{{ url_for('admin.alumnos_admin') }}"class="btn btn-success"><i class="material-icons">&#xE88A;</i> <span>home</span></a>					
							</div>
						</div>
						<div class="table-wrap">
							<table class="table myaccordion table-hover" id="accordion">
							  <thead>
								<tr>
								  <th>Tarea</th>
								  <th>Nombre de profe</th>
								  <th>Fecha</th>
								  <th>Tiempo</th>
								  
								  <th>&nbsp;</th>
								</tr>
							  </thead>
							  <tbody>
								{% for dato in datos %}
  									{% set collapse_id = 'collapse' + loop.index|string %}					
									<tr data-toggle="collapse" data-target="#{{ collapse_id }}" aria-expanded="false" aria-controls="{{ collapse_id }}" class="collapsed">
									<td id="tema">{{dato.1}}</td>
									<td id="profe" >{{dato.8}}</td>
									<td id="fecha">{{ dato.4.strftime('%d-%m-%Y')}}</td>
									<td id="tiempo">{{dato.3}} min</td> 
									<td>
										<i class="fa" aria-hidden="false"></i>
								  </td>
									<tr>
										<td colspan="6" id="{{ collapse_id }}" class="collapse acc" data-parent="#accordion">
											<p id="descripcion">{{dato.2}}</p>
											<a href="{{ url_for('admin.borra_clase_grupo', id=dato.0) }}" class="btn btn-primary">Borra</a>
										</td>
								  </tr>
								{% endfor %}
								
							  </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>

	</body>
</html>

